 <!doctype html>
 <html lang="en">
 
 <head>
   <title>U caBs</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel = "stylesheet" href = "../static/css/style.css">
 
   <!-- Bootstrap CSS v5.2.1 -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 
 </head>
 
 <body>
   <div class="bg">

        <div class="head">
            
              <h1 style="text-align: center; font-size: 60px; margin-top: 10px;">U caBs</h1>
        </div>
        
        <nav class="navbar" style = "text-align: right;" >
            {{!-- <a href = "./booking" style="color : black; text-decoration : none">Book a CAB</a> --}}
            <a href = "./register" style="color : black; text-decoration : none">SignUp!</a>
            <a href = "./login" style="color : black; text-decoration : none">Login</a>
            <a href = "./driverlogin" style="color : black; text-decoration : none">Driver Login</a>
            <a href = "./driver" style="color : black; text-decoration : none">Driver Register</a>
            <a href = "./login" style="color : black; text-decoration : none">Admin</a>
            <a href = "About.html" style="color : black; text-decoration : none">About</a>
            <a href = "contact.html" style="color : black; text-decoration : none">Contact Us</a>
        </nav>

        {{!-- <div class="search">
            <p>Search for a Cab</p>
            <input type="search" id = "search" name="search" placeholder="Search....">
            <button style="border: 1px solid orange; background-color: bisque; border-radius: 7px;" >Search</button>
        </div> --}}
        
    </div>
    
    <h1 style="text-align: center;">FAQ's</h1>
    <fieldset style="background-color: grey; color:white;">
    <p><strong class="bold"> How can I Book a Cab from U caBs?</strong><br>
        To book a cab, you can visit our website, mobile site or mobile app and click on the cab option. Cab booking is available with us in various options. You can book cabs for one way, round trip, airport or railway station transfer, hourly basis or day basis. Intercity cabs are also available with us.</p>
    <p><strong class = "bold">What Car Categories Do You Provide?</strong><br>
        Currently, we have three categories of cars.<br>
        <ul>
           <li>. Hatchback - Indica, WagonR or Similar</li> 
           <li>. Sedan - DZire, Etios, Xent or Similar</li>
           <li>. SUV - Ertiga, Lodgy or similar</li> 
        </ul>
    </p>
    <p><strong class="bold">Do you Offer Multiple Pickups Or Drops?</strong> 
        At present, we only provide pick up and drop at one point but very soon, we will introduce other options like multiple pickups and drops. Very soon, we will introduce more segments in cabs.</p>
    </fieldset>
   <!-- Bootstrap JavaScript Libraries -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
     integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
   </script>
 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
     integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
   </script>
 </body>
 
 </html>