<head>
    <link rel = "stylesheet" href = "../static/css/bookstyle.css">
</head>

<body class = "booking">
    

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="text-center">Login User</h1>
            <form method="post">
                <div>
                    <label for = "email">Email</label>
                    <input type = "email" name = "email" id = "email" class = "form-control">
                    
                </div>
                <div>
                    <label for = "password">Password</label>
                    <input type = "password" name = "password" id = "password" class = "form-control">

                </div>
                <div>
                    <button type="submit" class= "btn btn-primary">Submit</button>

                    {{#if message}}
                       <p class="text-danger">{{message}}</p>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>

</body>