<h1 class="text-center">Pay Now!</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <fieldset>
                    <legend>Enter the mode of payment</legend>
                    <label for = "pay"><input type = "radio" name = "pay" value = "card">Debit/Credit Card</label><br>
                    <label for = "pay"><input type = "radio" name = "pay" value = "upi">UPI payment</label><br>
                    <label for = "pay"><input type = "radio" name = "pay" value = "net">Net Banking</label><br>
                </fieldset>
                <label
            </div>
            <div>
                <button class = "btn btn-primary" type = "submit">Pay Now</button>
            </div>
            <div>
                <a href = "/book-">After payment click here</a>
                <a href = "/">Go Back</a>
            </div>
    
        </div>
    </div>
</div>