 <h1 class = "text-center">Register Yourselves</h1>
  <div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method = "post" action=" ">
                    <div>
                        <label for = "name">Name</label>
                        <input type = "text" id = "name" name = "name" placeholder = "Humpry Davy" class = "form-control">
                    </div>

                    <div>
                         <label for = "email">Email id</label>
                         <input type = "email" id = "email" name = "email" placeholder = "abc@example.com" class = "form-control">
                    </div>

                    <div>
                         <label for = "phone">Mobile Number</label>
                         <input type = "number" id = "phone" name = "phone" placeholder = "+91-123456789" class = "form-control">
                    </div>

                    <div>
                         <label for = "password">Type a Password</label>
                         <input type = "password" id = "password" name = "password" placeholder = "password" class = "form-control">
                    </div>

                    <div>
                         <label for = "age">Age</label>
                         <input type = "number" id = "age" name = "age" placeholder = "18" class = "form-control">
                    </div>

                    <div>
                         <label for = "country">Country</label>
                         <input type = "text" id = "country" name = "country" placeholder = "INDIA" class = "form-control">
                
                    </div>
                    <div class="d-grid mt-4">
                        <button type = "submit" class="btn btn-primary">Save</button>
                        {{#if message}}
                            <p class="text-danger">{{message}}</p>
                        {{/if}}

                    </div>

            </form>


            <a href="./" style="color:black; margin:20px;">Go Back to home page!</a>
        </div>
    </div>
  </div>